*::after {
    box-sizing: border-box;
}
  
/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    margin: 0;
    padding: 0;
}

/* dark mode user-agent-styles */

html {
    color-scheme: dark light;
}

/* min body height */
body {
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
video {
    display: block;
    max-width: 100%;
}

body{
    min-width: 400px;
}

h1{
    text-align: center;
}

.game-board-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    gap: 10px;
}

.player-info{
    display: flex;
    justify-content: space-between;
    width: max(400px, 70%);
    font-size: xx-large;
}

.display{
    height: 40px;
    font-size: 40px;
}

#game-board{ 
   width: 400px;
   height: 400px;
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   grid-template-columns: repeat(3, 1fr); 
}

.board-cell{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

button{
    border: none;
    margin: 1.5em 0;
    background-color: #171a19;
    color: white;
    padding: 14px 0;
    cursor: pointer;
    width: 180px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}
